#pg { position: relative; height: 585px;}
#pg li { position: relative; list-style: none; width: 175px; height: 117px; overflow: hidden; float: left; z-index: 2; opacity: .7; }
#pg li.active { opacity: 1; }
#pg li.selected { opacity: 1; z-index: 99; }
#pg li img { display: block; width: 100%;}
#pg li p { color: white; margin: 10px 0; font-size: 12px; }